<script src="/static/js/axios.min.js"></script>
<script src="/static/js/jquery-3.6.4.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/script.js?v=1725089261853"></script>
</body>
</html>