<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <% if(typeof title !== "undefined" && title) { %><%= title; %> <% } %>
  </title>
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet" />
  <base href="/">
  <link href="/static/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/dashboard.css?v=1725089261853" rel="stylesheet">
  <link href="/static/css/style.css?v=1725089261853" rel="stylesheet">
  <link href="/static/css/default.css?v=1725089261853" rel="stylesheet">
</head>

<body>