<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><% if(typeof title !== "undefined" && title) { %><%= title; %> <% } %></title>
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet" />
  <base href="/">
  <link href="/static/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/dashboard.css?v=<%= appConfig.APP_FILE_VERSION %>" rel="stylesheet">
  <link href="/static/css/style-freelancer.css?v=<%= appConfig.APP_FILE_VERSION %>" rel="stylesheet">
  <link href="/static/css/default.css?v=<%= appConfig.APP_FILE_VERSION %>" rel="stylesheet">
</head>

<body>

