<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/dashboard">
          <span data-feather="home" class="align-text-bottom"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/webdesigner/getpages">
          <span data-feather="file" class="align-text-bottom"></span>
          Pages
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/webdesigner/addpage">
              <span data-feather="file" class="align-text-bottom"></span>
              Add Page
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/webdesigner/getreviews">
          <span data-feather="shopping-cart" class="align-text-bottom"></span>
          Reviews
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/webdesigner/addreview">
              <span data-feather="file" class="align-text-bottom"></span>
              Add Review
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/webdesigner/getexperts">
          <span data-feather="users" class="align-text-bottom"></span>
          Experts
        </a>
      </li>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/webdesigner/addexpert">
            <span data-feather="file" class="align-text-bottom"></span>
            Add Expert
          </a>
        </li>
      </ul>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/webdesigner/notifications">
          <span data-feather="bar-chart-2" class="align-text-bottom"></span>
          Notifications
        </a>
      </li>
    </ul>
  </div>
</nav>