<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HOME-GreatassignmentHelp-Email-Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
    .order-btn:hover {
      background-color: #f0c17e !important;
      color: #000 !important;
      transition: 0.5s !important;
      border-radius: 10px !important;
    }

    td {
      background-color: aliceblue;
    }
  </style>

  <body link="#555559" vlink="#555559" alink="#555559">
    <table
      class="main contenttable"
      style="
        font-weight: normal;
        margin: 0 auto;
        color: #555559;
        background-color: white;
        font-size: 16px;
        line-height: 26px;
        width: 600px;
      "
    >
      <tr>
        <td
          valign="top"
          class="side title"
          style="
            -webkit-text-size-adjust: none;
            color: #555559;
            font-size: 16px;
            line-height: 26px;
            vertical-align: top;
            background-color: white;
            border-top: none;
          "
        >
          <table style="font-weight: normal">
            <tr>
              <td
                class="grey-block"
                style="
                  -webkit-text-size-adjust: none;
                  color: #555559;
                  font-size: 16px;
                  line-height: 26px;
                  background-color: #fff;
                  text-align: center;
                "
              >
                <div class="mktEditable" id="img-chn">
                  <img
                    class="top-image"
                    src="https://cdn.greatassignmenthelp.com/mail/promotional/offer2-gah-21-08-2023.webp"
                    width="100%"
                  />
                </div>
                <div
                  style="
                    text-align: right;
                    padding-right: 2%;
                    margin-top: -100px;
                  "
                  class="whatsapp"
                >
                  <a
                    href="https://api.whatsapp.com/send?phone=+17029633796&text=Hey!%20I%20need%20assignment%20help!"
                    ><img
                      src="https://cdn.greatassignmenthelp.com/mail/promotional/whatsapp.png"
                      style="
                        width: 50px;
                        height: auto;
                        margin-top: 4px;
                        position: absolute;
                        left: 56%;
                      "
                  /></a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table style="font-weight: normal">
            <tr>
              <td
                style="
                  -webkit-text-size-adjust: none;
                  color: #555559;
                  font-size: 16px;
                  line-height: 24px;
                  padding: 20px;
                "
              >
                <div class="mktEditable" id="cta_try">
                  <table
                    cellpadding="0"
                    cellspacing="0"
                    class="mobile"
                    style="font-weight: normal"
                  >
                    <tr>
                      <td
                        valign="top"
                        style="
                          -webkit-text-size-adjust: none;
                          color: #555559;
                          font-size: 16px;
                          line-height: 24px;
                        "
                      >
                        <table class="mb mt" style="margin-bottom: 15px">
                          <tr
                            style="
                              width: 100%;
                              display: inline-block;
                              font-size: 18px;
                              line-height: 38px;
                              position: relative;
                              padding-left: 25px;
                              margin: 2% 0%;
                            "
                          >
                            <td
                              class="grey-block"
                              style="
                                padding: 18px;
                                -webkit-text-size-adjust: none;
                                color: #555559;
                                font-size: 16px;
                                line-height: 24px;
                                background-color: #fff;
                                border-top: 3px solid #555559;
                                border-left: 1px solid #e6e6e6;
                                border-right: 1px solid #e6e6e6;
                                border-bottom: 1px solid #e6e6e6;
                                width: 250px;
                                text-align: center;
                              "
                            >
                              <span
                                style="
                                  font-size: 24px;
                                  line-height: 39px;
                                  -webkit-text-size-adjust: none;
                                  color: #555559;
                                  text-align: center;
                                  font-weight: bold;
                                "
                                >Try Our Assignment Help Service</span
                              ><br />

                              <a
                                href="https://www.greatassignmenthelp.com/order/"
                                class="order-btn"
                                style="
                                  background: #c6808b;
                                  text-decoration: none;
                                  color: #fff;
                                  padding: 12px 15px;
                                  display: inline-block;
                                  width: 180px;
                                  margin: 20px 0 25px;
                                  font-size: 19px;
                                  border-radius: 3px;
                                "
                                target="_blank"
                                >Order Now</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td
                        class="rm-col"
                        style="
                          -webkit-text-size-adjust: none;
                          color: #555559;
                          font-size: 16px;
                          line-height: 24px;
                          padding-right: 15px;
                        "
                      ></td>

                      <td
                        valign="top"
                        style="
                          -webkit-text-size-adjust: none;
                          color: #555559;
                          font-size: 16px;
                          line-height: 24px;
                        "
                      >
                        <table
                          class="mb mt"
                          style="font-weight: normal; margin-bottom: 15px"
                        >
                          <tr
                            style="
                              width: 100%;
                              display: inline-block;
                              font-size: 18px;
                              line-height: 38px;
                              position: relative;
                              padding-left: 25px;
                              margin: 2% 0%;
                            "
                          >
                            <td
                              class="grey-block"
                              style="
                                padding: 18px;
                                -webkit-text-size-adjust: none;
                                color: #555559;
                                font-size: 16px;
                                line-height: 24px;
                                background-color: #fff;
                                border-top: 3px solid #555559;
                                border-left: 1px solid #e6e6e6;
                                border-right: 1px solid #e6e6e6;
                                border-bottom: 1px solid #e6e6e6;
                                width: 250px;
                                height: 208px;
                                text-align: center;
                              "
                            >
                              <span
                                style="
                                  font-size: 24px;
                                  line-height: 39px;
                                  -webkit-text-size-adjust: none;
                                  color: #555559;
                                  text-align: center;
                                  font-weight: bold;
                                "
                                >Connect with Experts </span
                              ><br /><br />

                              <a
                                href="https://www.greatassignmenthelp.com/order/"
                                class="order-btn"
                                style="
                                  background: #c6808b;
                                  text-decoration: none;
                                  color: #fff;
                                  padding: 12px 15px;
                                  display: inline-block;
                                  width: 180px;
                                  margin: 20px 0 25px;
                                  font-size: 19px;
                                  border-radius: 3px;
                                "
                                target="_blank"
                                >Chat Now</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td
                style="
                  -webkit-text-size-adjust: none;
                  color: #555559;
                  font-size: 16px;
                  line-height: 24px;
                  padding: 10px;
                "
              >
                <div class="mktEditable" id="cta_try">
                  <table
                    cellpadding="0"
                    cellspacing="0"
                    class="mobile"
                    style="font-weight: normal"
                  >
                    <tr id="cta_trys">
                      <td
                        valign="top"
                        style="
                          -webkit-text-size-adjust: none;
                          color: #555559;
                          font-size: 16px;
                          line-height: 24px;
                        "
                      >
                        <table class="mb mt">
                          <tr>
                            <td class="grey-block">
                              <li
                                style="
                                  width: 91%;
                                  display: inline-block;
                                  font-size: 18px;
                                  line-height: 38px;
                                  position: relative;
                                  padding-left: 25px;
                                  margin: 2% 0%;
                                "
                              >
                                <strong>
                                  <strong> &#x2713;</strong> &nbsp;</strong
                                >
                                100 % Plagiarism-Free
                              </li>
                              <li
                                style="
                                  width: 91%;
                                  display: inline-block;
                                  font-size: 18px;
                                  line-height: 38px;
                                  position: relative;
                                  padding-left: 25px;
                                  margin: 2% 0%;
                                "
                              >
                                <strong> &#x2713;</strong> &nbsp;Affordable
                                Pricing
                              </li>
                              <li
                                style="
                                  width: 91%;
                                  display: inline-block;
                                  font-size: 18px;
                                  line-height: 38px;
                                  position: relative;
                                  padding-left: 25px;
                                  margin: 2% 0%;
                                "
                              >
                                <strong> &#x2713;</strong> &nbsp;On-time
                                Delivery
                              </li>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td
                        class="rm-col"
                        style="
                          -webkit-text-size-adjust: none;
                          color: #555559;
                          font-size: 16px;
                          line-height: 24px;
                          padding-right: 15px;
                        "
                      ></td>
                      <td
                        valign="top"
                        style="
                          -webkit-text-size-adjust: none;
                          color: #555559;
                          font-size: 16px;
                          line-height: 24px;
                        "
                      >
                        <table
                          class="mb mt"
                          style="font-weight: normal; margin-bottom: 15px"
                        >
                          <tr>
                            <td class="grey-block">
                              <li
                                style="
                                  width: 91%;
                                  display: inline-block;
                                  font-size: 18px;
                                  line-height: 38px;
                                  position: relative;
                                  padding-left: 47px;
                                  margin: 2% 0%;
                                "
                              >
                                <strong> &#x2713;</strong> &nbsp;24/7 Live Chat
                                Support
                              </li>
                              <li
                                style="
                                  width: 91%;
                                  display: inline-block;
                                  font-size: 18px;
                                  line-height: 38px;
                                  position: relative;
                                  padding-left: 47px;
                                  margin: 2% 0%;
                                "
                              >
                                <strong> &#x2713;</strong> &nbsp;1000+ Scholarly
                                Writers
                              </li>
                              <li
                                style="
                                  width: 91%;
                                  display: inline-block;
                                  font-size: 18px;
                                  line-height: 38px;
                                  position: relative;
                                  padding-left: 47px;
                                  margin: 2% 0%;
                                "
                              >
                                <strong> &#x2713;</strong> &nbsp;Unlimited
                                Revisions
                              </li>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td
                valign="top"
                style="
                  padding-left: 6.25%;
                  padding-right: 6.25%;
                  width: 87.5%;
                  font-size: 17px;
                  font-weight: 400;
                  line-height: 160%;
                  padding-top: 20px;
                  padding-bottom: 25px;
                  color: #000000;
                  font-family: sans-serif;
                "
                class="paragraph"
              >
                Have a&nbsp;question?
                <a
                  href="https://www.greatassignmenthelp.com/"
                  target="_blank"
                  style="
                    color: #c6808b;
                    font-family: sans-serif;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 160%;
                  "
                  >Greatassignmenthelp</a
                >
              </td>
            </tr>
            <tr>
              >
              <td><a href="{$unsubscribe}">Unsubscribe</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
