<%- include('includes/head'); %>

    <main>
    
        <section class="vh-100">
          <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                  class="img-fluid" alt="Sample image">
              </div>
              <div class="col col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="container">
                  <div class="row">
                    <div class="col col-md-12" id="loginMessage">
                      <% if(typeof messages !== "undefined" && messages && messages.length !== 0) {%>
                      <div class="alert alert-primary " role="alert">
                          <%= messages %>
                      </div>
                      <%}%>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-md-12">
                      <form action="/login" method="POST">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="email">Email address</label>
                          <input type="email"  id="email" name="email" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                        </div>
                        <div class="form-outline mb-3">
                          <label class="form-label" for="password">Password</label>
                          <input type="password" id="password" name="password" class="form-control form-control-lg"
                            placeholder="Enter password" />
                        </div>
                        <div class="row">
                          <div class="col col-md-4">
                            <div class="text-center text-lg-start mt-4 pt-2">
                              <input type="button" class="btn btn-outline-info btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" id="loginBtn" name="loginBtn" value="Login">
                            </div>
                          </div>
                          <div class="col col-md-8">
                            <div class="spinner-border text-primary d-none" role="status" id="loginLoading"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col col-md-4">
                            <div class="text-center text-lg-start mt-4 pt-2">
                              <input type="button" class="btn btn-outline-info btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" id="logOutAllBtn" name="logOutAllBtn" value="Logout All">
                            </div>
                          </div>
                          <div class="col col-md-8">
                            <div class="spinner-border text-primary d-none" role="status" id="logOutAllLoading"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>
    
 <%- include('includes/footer'); %>